body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
  color: #101010;
}

a {
  color: inherit;
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  .footer-inner {
    display: flex;
    flex-direction: column-reverse;
    padding: 32px 16px;

    @media screen and (min-width: 860px) {
      padding: 32px 40px;
    }

    @media screen and (min-width: 860px) {
      flex-direction: row;
      justify-content: space-between;
    }

    .inner-section {
      display: flex;
      justify-content: space-between;

      @media screen and (min-width: 860px) {
        justify-content: unset;
      }

      &:nth-child(1) {
        margin-top: 80px;

        @media screen and (min-width: 860px) {
          margin-top: 0;
        }
      }

      .version {
        position: relative;
        display: flex;
        align-items: center;

        @media screen and (min-width: 860px) {
          margin-right: 80px;
        }

        &::before {
          content: "VERSION";
          position: absolute;
          top: -80%;
          font-size: 14px;
          font-weight: 500;
          white-space: nowrap;
          color: #777;
        }
      }

      .time {
        position: relative;
        display: flex;
        align-items: center;
        height: 40px;

        .t {
          margin-right: 6px;

          span {
            margin-left: 6px;
          }
        }

        &::before {
          content: "LOCAL TIME";
          position: absolute;
          top: -80%;
          font-size: 14px;
          font-weight: 500;
          white-space: nowrap;
          color: #777;
        }
      }

      .socials {
        position: relative;
        display: flex;

        &::before {
          content: "SOCIALS";
          position: absolute;
          top: -80%;
          font-size: 14px;
          font-weight: 500;
          white-space: nowrap;
          color: #777;
        }

        .social {
          margin-right: 10px;

          @media screen and (min-width: 860px) {
            margin-right: 20px;
          }

          &:nth-last-child(1) {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.magnetic-button {
  position: relative;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  z-index: 1;
  touch-action: none;

  span {
    display: inline-block;
  }

  &--hover {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.button-2 {
  font-size: 16px;
  color: #101010;
  border: none;
  padding: 10px 10px;
  transform: translateX(-10px);

  &:hover .inner::after {
    width: 100%;
    right: unset;
    left: 0;
  }

  .inner {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      right: 0;
      width: 0;
      height: 1px;
      background-color: #101010;
      transition: 0.3s ease;
    }
  }
}
